//import { LoadFacebookUser, TokenGenerator } from '@/domain/contracts/gateways'
//import { LoadUserAccount, SaveFacebookAccount } from '@/domain/contracts/repos'
//import { AccessToken, FacebookAccount, AuthenticationError } from '@/domain/entities'

type Setup = () => {{ className }}UseCase
type Input = { name: string }
type Output = { success: boolean }
export type {{ className }}UseCase = (input: Input) => Promise<Output>

export const setup{{ className }}: Setup = () => async input => {

  return {
    success: true
  }
}
