import { HttpClient, HttpStatusCode } from "@/data/protocols/http";
import { {{ className }}NotFoundError, InvalidCredentialsError, UnexpectedError } from "@/domain/error";
import { {{ className }}Show } from "@/domain/use-cases";

export class Remote{{ className }}Show implements {{ className }}Show {
  constructor(
    private readonly url: string,
    private readonly httpClient: HttpClient<Remote{{ className }}Show.Model>
  ) {}

  async show({id}: {{ className }}Show.Params): Promise<{{ className }}Show.Result> {
    const httpResponse = await this.httpClient.request({
      url: this.url.replace("{id}", id),
      method: "get"
    });
    const Remote{{ className }}Show = httpResponse.body || ({} as Remote{{ className }}Show.Model);

    switch (httpResponse.statusCode) {
      case HttpStatusCode.ok:
        return Remote{{ className }}Show;
      case HttpStatusCode.notFound:
        throw new {{ className }}NotFoundError()
      case HttpStatusCode.unauthorized:
        throw new InvalidCredentialsError();
      default:
        throw new UnexpectedError();
    }
  }
}

export namespace Remote{{ className }}Show {
  export type Params = {{ className }}Show.Params;
  export type Model = {{ className }}Show.Result;
}
