import { {{ className }}, setup{{ className }} } from '@/domain/use-cases'
// import { AppendFile } from "@/domain/contracts/gateways";
// import { MockProxy, mock } from 'jest-mock-extended'

describe('{{ className }}', () => {
  let sut: {{ className }}
//let fileStorage: MockProxy<AppendFile>

  beforeAll(() => {
    // fileStorage = mock()

    // fileStorage.upload.mockReturnValue('')
  })

  beforeEach(() => {
    sut = setup{{ className }}(
      //fileStorage
    )
  })

  it('should call handle sucess', async () => {
    const response = await sut({{ properties }})

    void expect(response).toEqual({
      success: true
    })
  })

 /*
  it('should rethrow if UploadFile throws', async () => {
    const error = new Error('upload_error')
    fileStorage.upload.mockRejectedValueOnce(error)

    const promise = sut({ file, bucketName })

    await expect(promise).rejects.toThrow(error)
  })
  */
})
