import { {{ className }} } from '@/data/use-cases/contact/contacts'
import { HttpStatusCode } from '@/data/protocols/http'
import { {{ className }}NotFoundError, InvalidCredentialsError, UnexpectedError } from '@/domain/error'
import { HttpClientSpy } from '../../../mocks'

import {faker} from '@faker-js/faker'

type SutTypes = {
  sut: {{ className }}
  httpClientSpy: HttpClientSpy<{{ className }}.Model>
}

const makeSut = (url: string = faker.internet.url()): SutTypes => {
  const httpClientSpy = new HttpClientSpy<{{ className }}.Model>()
  const sut = new {{ className }}(url, httpClientSpy)
  return {
    sut,
    httpClientSpy
  }
}

export const mockParams: {{ className }}.Params = {
  id: faker.string.uuid()
}

export const mockResult: {{ className }}.Model = {
  id: faker.string.uuid(),
  name: faker.person.fullName(),
  status: 'enabled',
  createdAt: new Date().toISOString(),
  nickname: 'any_nickname',
  inscription: 'any_inscription',
  notes: 'any_notes',
  updatedAt: new Date().toISOString()
}

describe('{{ className }}', () => {
  test('Should call HttpClient with correct values', async () => {
    const url = faker.internet.url()
    const { sut, httpClientSpy } = makeSut(url)

    await sut.(mockParams)

    expect(httpClientSpy.url).toEqual(url)
    expect(httpClientSpy.method).toBe('get')
    expect(httpClientSpy.body).toEqual(undefined)
  })

  test('Should throw UnexpectedError if HttpClient returns 400', async () => {
    const { sut, httpClientSpy } = makeSut()
    httpClientSpy.response = {
      statusCode: HttpStatusCode.badRequest
    }

    const promise = sut.(mockParams)

    await expect(promise).rejects.toThrow(new UnexpectedError())
  })

  test('Should throw UnexpectedError if HttpClient returns 500', async () => {
    const { sut, httpClientSpy } = makeSut()
    httpClientSpy.response = {
      statusCode: HttpStatusCode.serverError
    }

    const promise = sut.(mockParams)

    await expect(promise).rejects.toThrow(new UnexpectedError())
  })

  test('Should throw ContactNotFoundError if HttpClient returns 404', async () => {
    const { sut, httpClientSpy } = makeSut()
    httpClientSpy.response = {
      statusCode: HttpStatusCode.notFound
    }

    const promise = sut.(mockParams)

    await expect(promise).rejects.toThrow(new ContactNotFoundError())
  })

  test('Should throw UnauthorizedError if HttpClient returns 401', async () => {
    const { sut, httpClientSpy } = makeSut()
    httpClientSpy.response = {
      statusCode: HttpStatusCode.unauthorized
    }

    const promise = sut.(mockParams)

    await expect(promise).rejects.toThrow(new InvalidCredentialsError())
  })

  test('Should return an Contact.Model if HttpClient returns 200', async () => {
    const { sut, httpClientSpy } = makeSut()
    const httpResult = mockResult
    httpClientSpy.response = {
      statusCode: HttpStatusCode.ok,
      body: httpResult
    }

    const account = await sut.(mockParams)

    expect(account).toEqual(httpResult)
  })
})
