import { MountValidator{{ className }}, make{{ className }}Validation } from '@/main/factories/validation'
import { ZodError } from 'zod'

describe('make{{ className }}Validation', () => {
  const intlMessage = {
    form: {
      email: { validations: { invalid: 'a', required: 'a' } },
      password: {
        validations: {
          invalid: 'a',
          required: 'a',
          chars: {
            min: 'a',
            max: 'a'
          }
        }
      }
    }
  }

  let validator: MountValidator{{ className }}

  beforeAll(() => {
    validator = make{{ className }}Validation(intlMessage)
  })

  it('should  make MountValidator{{ className }} with success', () => {
    const input = {
      email: 'email@teste.com',
      password: 'XXXXXXXX'
    }
    const validate = validator.validate.parse(input)

    expect(validate).toEqual(input)
  })
  it("should't make MountValidator{{ className }} with error", () => {
    const input = {
      email: 'aaa'
    }

    expect(() => validator.validate.parse(input)).toThrow(
      new ZodError([
        {
          validation: 'email',
          code: 'invalid_string',
          message: 'a',
          path: ['email']
        },
        {
          code: 'invalid_type',
          expected: 'string',
          received: 'undefined',
          path: ['password'],
          message: 'a'
        }
      ])
    )
  })
})
