import type { Validation } from '@/presentation/protocols'
import type { {{ className }}OutputTranslationValidation } from '@/presentation/translations/pages'
import * as z from 'zod'

interface TranslateValidation {
  form: {{ className }}OutputTranslationValidation
}

export type MountValidator{{ className }} = Validation<{ email: string, password: string  }>

export const make{{ className }}Validation
  = (intl: TranslateValidation): MountValidator{{ className }} => {
    return {
      validate: z.object({
        email: z.string()
        .email(
          intl.form.email.validations.invalid
        ),
        password: z.string({
          required_error: intl.form.password.validations.required,
        })
        .min(5, intl.form.password.validations.chars.min)
      })
    }
  }

